/* stockage des couleurs */
/* css global reset */
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,700;1,400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-weight: 400;
  background: black; }

body {
  font-family: 'Quantico', sans-serif; }

.header {
  position: fixed;
  width: 100%;
  height: 10vh;
  background: rgba(15, 15, 15, 0.6);
  display: flex;
  z-index: 99; }
  .header ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    list-style: none; }
    .header ul a:link, .header ul a:visited {
      color: white;
      text-decoration: none;
      font-weight: 400;
      font-variant: small-caps; }
    .header ul a:hover {
      font-weight: bold; }

.landingPage {
  height: 100vh;
  background: url(../img/skyFetchers.jpg) center;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center; }
  .landingPage h1 {
    color: white;
    font-size: 12rem;
    font-style: italic;
    font-weight: 800;
    font-variant: small-caps; }

.lastPictures {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 5rem; }
  .lastPictures .card {
    border-radius: 16px;
    margin: 3rem;
    width: 100%; }
    .lastPictures .card img,
    .lastPictures .card iframe {
      border-radius: 16px 16px 0 0; }
    .lastPictures .card .card-body h3 {
      font-weight: bold;
      text-transform: italic; }
    .lastPictures .card .card-body .card-text {
      font-size: 1.5rem; }

.choosePicture {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .choosePicture p {
    color: white;
    font-size: 1.5rem;
    text-align: center; }
  .choosePicture .dateInput {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    width: 20%; }
  .choosePicture .card {
    border-radius: 16px;
    margin: 3rem;
    width: 100%; }
    .choosePicture .card img,
    .choosePicture .card iframe {
      border-radius: 16px 16px 0 0; }
    .choosePicture .card .card-body h3 {
      font-weight: bold;
      text-transform: italic; }
    .choosePicture .card .card-body .card-text {
      font-size: 1.5rem;
      color: initial;
      text-align: justify; }

.launchsSection {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 2rem; }
  .launchsSection article.launchs {
    width: 50%; }
    .launchsSection article.launchs .launch {
      border: 1px solid white;
      margin: 5rem;
      border-radius: 1rem;
      padding: 1rem; }
      .launchsSection article.launchs .launch p {
        color: white; }
  .launchsSection aside {
    width: 40%;
    color: white; }
    .launchsSection aside h2 {
      text-decoration: underline;
      margin-top: 5rem;
      margin-bottom: 2rem;
      text-align: center; }
    .launchsSection aside p {
      font-size: 1.5rem;
      text-align: justify; }
