.choosePicture {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    p {
        color: white;
        font-size: 1.5rem;
        text-align: center;
    }

    .dateInput {
        font-size: 1.5rem;
        color: white;
        text-align: center;
        width: 20%;
    }

    .card {
        border-radius: 16px;
        margin: 3rem;
        width: 100%;

        img,
        iframe {
            border-radius: 16px 16px 0 0;
        }

        .card-body {
            h3 {
                font-weight: bold;
                text-transform: italic;
            }

            .card-text {
                font-size: 1.5rem;
                color: initial;
                text-align: justify;
            }
        }
    }
}
