.lastPictures {
    width: 90%;
    margin: 0 auto;
    display: flex;
    // inverse la colonne pour avoir la dernière image (du jour) en premier
    flex-direction: column-reverse;
    margin-top: 5rem;

    .card {
        border-radius: 16px;
        margin: 3rem;
        width: 100%;

        img,
        iframe {
            border-radius: 16px 16px 0 0;
        }

        .card-body {
            h3 {
                font-weight: bold;
                text-transform: italic;
            }

            .card-text {
                font-size: 1.5rem;
            }
        }
    }
}
